name: nutricion_front
description: Frontend de nutrición migrado de React a Flutter
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_hooks: ^0.20.5
  go_router: ^14.0.0

  # Íconos y temas
  cupertino_icons: ^1.0.8

  # HTTP listo para conectar con backend Python más adelante
  http: ^1.2.0
  fl_chart: ^0.69.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
